<app-input class="w-7" #input></app-input>
<app-output class="w-7" #output></app-output>

<div>
  <label class="mr-3">{{ "cipherPage.shift" | translate }}:</label>
  <p-inputNumber
    [showButtons]="true"
    [(ngModel)]="shiftValue"
    [min]="1"
    [max]="25"
  >
  </p-inputNumber>
</div>

<div class="w-4 flex align-items-center justify-content-between">
  <p-button
    class="p-button-lg"
    icon="pi pi-arrow-right-arrow-left"
    label="{{ 'cipherPage.encrypt' | translate }}"
    (click)="encrypt()"
  ></p-button>
  <p-button
    class="p-button-lg"
    icon="pi pi-arrow-right-arrow-left"
    label="{{ 'cipherPage.descrypt' | translate }}"
    (click)="descrypt()"
  ></p-button>
</div>
