<form
  [formGroup]="transpositionForm"
  class="h-full w-6 flex align-items-center justify-content-between flex-column"
>
  <span class="w-full p-float-label">
    <input
      class="w-full text-3xl p-inputtext-lg"
      id="float-input"
      type="text"
      pInputText
      formControlName="inputValue"
    />
    <label for="float-input">{{ "cipherPage.textEncrypt" | translate }}</label>
  </span>
  <span class="w-full p-float-label">
    <input
      class="w-full text-3xl p-inputtext-lg"
      id="float-input"
      type="text"
      pInputText
      formControlName="outputValue"
    />
    <label for="float-input">{{ "cipherPage.textDescrypt" | translate }}</label>
  </span>

  <div class="w-4 flex align-items-center justify-content-between">
    <p-button
      class="p-button-lg"
      icon="pi pi-arrow-right-arrow-left"
      label="{{ 'cipherPage.encrypt' | translate }}"
      (click)="encrypt()"
    ></p-button>
    <p-button
      class="p-button-lg"
      icon="pi pi-arrow-right-arrow-left"
      label="{{ 'cipherPage.descrypt' | translate }}"
      (click)="descrypt()"
    ></p-button>
  </div>
</form>
