<form
  [formGroup]="morseForm"
  class="h-full w-6 flex align-items-center justify-content-between flex-column"
>
  <span class="w-full p-float-label">
    <input
      class="w-full text-3xl p-inputtext-lg"
      id="float-input"
      type="text"
      pInputText
      formControlName="inputValue"
    />
    <label for="float-input">{{ "cipherPage.textEncrypt" | translate }}</label>
  </span>
  <span class="w-full p-float-label">
    <input
      class="w-full text-3xl p-inputtext-lg"
      id="float-input"
      type="text"
      pInputText
      formControlName="outputValue"
    />
    <label for="float-input">{{ "cipherPage.textDescrypt" | translate }}</label>
  </span>

  <div class="w-9 flex align-items-center justify-content-between">
    <p-button
      class="p-button-lg"
      icon="pi pi-arrow-right-arrow-left"
      label="{{ 'cipherPage.encrypt' | translate }}"
      (click)="encrypt()"
      [disabled]="!morseForm.valid"
    ></p-button>
    <p-button
      class="p-button-lg"
      icon="pi pi-arrow-right-arrow-left"
      label="{{ 'cipherPage.descrypt' | translate }}"
      (click)="descrypt()"
      [disabled]="!morseForm.valid"
    ></p-button>
  </div>
</form>
<button
  pButton
  class="w-10rem h-3rem"
  type="button"
  label="{{ 'cipherPage.alphabet' | translate }}"
  icon="pi pi-file-word"
  (click)="showAlphabet()"
></button>

<p-dialog
  header="{{ 'cipherPage.alphabet' | translate }}"
  [(visible)]="displayAlphabet"
  [modal]="true"
  class="max-w-10rem"
  [draggable]="false"
  [resizable]="false"
>
  <div class="flex flex-column align-items-center text-align-center">
    <p *ngFor="let letter of alphabet | keyvalue">
      {{ letter.key }} --> {{ letter.value }}
    </p>
    <p>' ' --> '&nbsp;&nbsp;'</p>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayAlphabet = false"
      label="Ok"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
