<app-input class="w-7" #input></app-input>
<app-output class="w-7" #output></app-output>
<button
  pButton
  class="w-10rem h-3rem"
  type="button"
  label="Alphabet"
  icon="pi pi-file-word"
  (click)="showAlphabet()"
></button>

<p-dialog
  header="Alphabet"
  [(visible)]="displayAlphabet"
  [modal]="true"
  class="max-w-10rem"
  [draggable]="false"
  [resizable]="false"
>
  <p *ngFor="let letter of alphabet | keyvalue">
    {{ letter.key }} --> {{ letter.value }}
  </p>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayAlphabet = false"
      label="Ok"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>

<div class="w-4 flex align-items-center justify-content-between">
  <p-button
    class="p-button-lg"
    icon="pi pi-arrow-right-arrow-left"
    label="Encrypt"
    (click)="encrypt()"
  ></p-button>
  <p-button
    class="p-button-lg"
    icon="pi pi-arrow-right-arrow-left"
    label="Descrypt"
    (click)="descrypt()"
  ></p-button>
</div>
