<div
  class="w-full h-full flex align-items-center justify-content-around flex-column"
>
  <span class="p-buttonset">
    <button
      pButton
      type="button"
      label="Caesar"
      icon="pi pi-arrow-right-arrow-left"
      [routerLink]="['caesar']"
      (click)="openCipher()"
    ></button>
    <button
      pButton
      type="button"
      label="Morse"
      icon="pi pi-arrow-right-arrow-left"
      [routerLink]="['morse']"
      (click)="openCipher()"
    ></button>
    <button
      pButton
      type="button"
      label="Transposition"
      icon="pi pi-arrow-right-arrow-left"
      [routerLink]="['transposition']"
      (click)="openCipher()"
    ></button>
  </span>

  <h1 *ngIf="!someCipherIsOpen" class="text-5xl mb-5">Choose a cipher...</h1>

  <router-outlet></router-outlet>
</div>
