<div
  class="w-full h-full flex align-items-center justify-content-around flex-column"
>
  <span class="p-buttonset">
    <button
      pButton
      type="button"
      label="{{ 'cipherPage.caesar' | translate }}"
      icon="pi pi-arrow-right-arrow-left"
      [routerLink]="['caesar']"
      (click)="openCipher()"
    ></button>
    <button
      pButton
      type="button"
      label="{{ 'cipherPage.morse' | translate }}"
      icon="pi pi-arrow-right-arrow-left"
      [routerLink]="['morse']"
      (click)="openCipher()"
    ></button>
    <button
      pButton
      type="button"
      label="{{ 'cipherPage.transposition' | translate }}"
      icon="pi pi-arrow-right-arrow-left"
      [routerLink]="['transposition']"
      (click)="openCipher()"
    ></button>
  </span>

  <h1 *ngIf="!someCipherIsOpen" class="text-5xl mb-5">
    {{ "cipherPage.choose" | translate }}
  </h1>

  <router-outlet></router-outlet>
</div>
