<div
  class="w-full h-full flex align-items-center justify-content-around flex-column"
>
  <span class="p-buttonset">
    <button
      pButton
      type="button"
      label="cipher 1"
      icon="pi pi-arrow-right-arrow-left"
    ></button>
    <button
      pButton
      type="button"
      label="cipher 2"
      icon="pi pi-arrow-right-arrow-left"
    ></button>
    <button
      pButton
      type="button"
      label="cipher 3"
      icon="pi pi-arrow-right-arrow-left"
    ></button>
  </span>

  <router-outlet></router-outlet>

  <div class="w-4 flex align-items-center justify-content-between">
    <p-button
      class="p-button-lg"
      icon="pi pi-arrow-right-arrow-left"
      label="Encrypt"
    ></p-button>
    <p-button
      class="p-button-lg"
      icon="pi pi-arrow-right-arrow-left"
      label="Descrypt"
    ></p-button>
  </div>
</div>
